In [5]:
!conda install pandas -y

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.9.2
  latest version: 24.11.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /Users/eli970616/opt/miniconda3/envs/house-price

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pandas-2.2.2               |  py310hbf2a7f0_1        11.6 MB  conda-forge
    python-tzdata-2024.2       |     pyhd8ed1ab_1         139 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        11.8 MB

The following NEW packages will be INSTALLED:

  pandas             conda-forge/osx-64::pandas-2.2.2-py310hbf2a7f0_1
  python-tzdata      conda-forge/noarch::python-tzdata-2024.2-pyhd8ed1ab_1



Downloading and Extracting Packages
pandas-2.2.2         | 11.6 MB   | ##################################### | 100%
python-tzdata-2024.2 | 139 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [6]:
import pandas as pd
print(pd.__version__)

2.2.2

In [7]:
import pandas as pd

# 创建一个模拟的 CSV 文件内容
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"]
}

# 将数据保存为 data.csv
df = pd.DataFrame(data)
df.to_csv("data.csv", index=False)
print("Data.csv 文件已创建!")

# 1. 读取 CSV 文件
print("\n=== 读取 CSV 文件 ===")
df = pd.read_csv("data.csv")
print(df)

# 2. 筛选与过滤
print("\n=== 筛选年龄大于 30 的行 ===")
filtered_df = df.loc[df['Age'] > 30]
print(filtered_df)

print("\n=== 按行位置筛选第 1 行到第 2 行（不包括第 3 行） ===")
subset_df = df.iloc[0:2]
print(subset_df)

# 3. 数据处理
print("\n=== 删除 'City' 列 ===")
df_without_city = df.drop(columns=["City"])
print(df_without_city)

print("\n=== 重命名 'Name' 列为 'Full Name' ===")
df_renamed = df.rename(columns={"Name": "Full Name"})
print(df_renamed)

# 模拟缺失值数据
data_with_nan = {
    "Name": ["Alice", "Bob", None],
    "Age": [25, None, 35],
    "City": ["New York", None, "Chicago"]
}
df_with_nan = pd.DataFrame(data_with_nan)

print("\n=== 原始数据（包含缺失值） ===")
print(df_with_nan)

print("\n=== 填充缺失值 ===")
df_filled = df_with_nan.fillna({"Name": "Unknown", "Age": 0, "City": "Unknown"})
print(df_filled)

Data.csv 文件已创建!

=== 读取 CSV 文件 ===
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

=== 筛选年龄大于 30 的行 ===
      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

=== 按行位置筛选第 1 行到第 2 行（不包括第 3 行） ===
    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

=== 删除 'City' 列 ===
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

=== 重命名 'Name' 列为 'Full Name' ===
  Full Name  Age         City
0     Alice   25     New York
1       Bob   30  Los Angeles
2   Charlie   35      Chicago
3     David   40      Houston

=== 原始数据（包含缺失值） ===
    Name   Age      City
0  Alice  25.0  New York
1    Bob   NaN      None
2   None  35.0   Chicago

=== 填充缺失值 ===
      Name   Age      City
0    Alice  25.0  New York
1      Bob   0.0   Unknown
2  Unknown  35.0   Chicago

In [ ]:
# loc vs iloc
# loc 和 iloc 是 Pandas 中用于选择数据的两种方法，它们的主要区别在于 选择方式 和 使用的索引类型：

In [8]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data, index=["a", "b", "c"])

# 使用 loc 按标签选择单行
print(df.loc["a"])
# 输出:
# Name       Alice
# Age           25
# City    New York
# Name: a, dtype: object

# 按标签选择多行和列
print(df.loc["a":"b", ["Name", "Age"]])
# 输出:
#    Name  Age
# a  Alice   25
# b    Bob   30

# 使用布尔索引选择行
print(df.loc[df["Age"] > 30])
# 输出:
#       Name  Age     City
# c  Charlie   35  Chicago

Name       Alice
Age           25
City    New York
Name: a, dtype: object
    Name  Age
a  Alice   25
b    Bob   30
      Name  Age     City
c  Charlie   35  Chicago

In [9]:
# 按行号选择单行
print(df.iloc[0])
# 输出:
# Name       Alice
# Age           25
# City    New York
# Name: a, dtype: object

# 按行号选择多行和列
print(df.iloc[0:2, 0:2])
# 输出:
#    Name  Age
# a  Alice   25
# b    Bob   30

# 按行和列的位置选择单个值
print(df.iloc[2, 1])
# 输出: 35

Name       Alice
Age           25
City    New York
Name: a, dtype: object
    Name  Age
a  Alice   25
b    Bob   30
35